@page "/canilecomp"
@inject BaseDati db
<h3>Canile di San Giovanni Valdarno</h3>

@if (nuovoCane == null)
{
    <button class="btn btn-primary" @onclick="(e => Aggiungi())">Aggiungi cane</button>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Anno di nascita</td>
            <td>Razza</td>
            <td>Genere</td>
            <td>Data addozione</td>
            <td>Data acquisizione</td>
            <td>Sterilizzato</td>
            <td>Data Sterilizz</td>
            <td>Modifica</td>
            <td>Cancella</td>
        </tr>
        @foreach (Canile singolo in db.canili)
        {
            <tr>
                <td>@singolo.Id_cane</td>
                <td>@singolo.Nome_cane</td>
                <td>@singolo.Anno_nascita</td>
                <td>@singolo.Razza</td>
                <td>@singolo.Genere</td>
                <td>@singolo.Data_addozione</td>
                <td>@singolo.Data_acquisizione</td>
                <td>@singolo.Sterilizzato</td>
                <td>@singolo.Data_steril</td>
                <td><button class="oi oi-pencil" @onclick="(e => Modifica(singolo))">Modifica</button></td>
                <td><button class="oi oi-trash" @onclick="(e => Cancella(singolo))">Cancella</button></td>


            </tr>
        }
    </table>
}
else
{
<label>
    Nome del cane
    <input @bind-value="nuovoCane.Nome_cane" placeholder="Nome del cane" />
</label>
    <br />
    <label>Anno di nascita
        <input @bind-value="nuovoCane.Anno_nascita" type="date" />
    </label>
    <br />
    <label>Razza del cane
        <input @bind-value="nuovoCane.Razza" placeholder="Razza del cane" />
    </label>
    <br />
    <label>Genere del cane
        <input @bind-value="nuovoCane.Genere" placeholder="Genere del cane" />
    </label>
    <br />
    <label>Data di addozione
        <input @bind-value="nuovoCane.Data_addozione" type="date" />
    </label>
    <br />
    <label>Data di acquisizione
        <input @bind-value="nuovoCane.Data_acquisizione" type="date" />
    </label>
    <br />
    <label>Sterilizzato
        <input @bind-value="nuovoCane.Sterilizzato" placeholder="Sterilizzato" />
    </label>
    <br />
    <label>Data di sterilizzazione
        <input @bind-value="nuovoCane.Data_steril" type="date" />
    </label>
    <br />
    <button class="btn btn-success" @onclick="(e => Salva())">Salva</button>
    <button class="btn btn-danger" @onclick="(e => Annulla())">Annulla</button>


}

@code {
    private Canile nuovoCane;

    private void Aggiungi()
    {
        nuovoCane = new Canile();
    }
    private void Modifica(Canile modCane)
    {
        nuovoCane = modCane;
    }
    private void Cancella(Canile daCancellare)
    {
        db.canili.Remove(daCancellare);
        db.SaveChanges();
    }
    public void Annulla()
    {
        nuovoCane = null;
    }
    private void Salva()
    {
        if (nuovoCane.Id_cane == 0)
        {
            db.canili.Add(nuovoCane);
        }
        else
        {
            db.canili.Update(nuovoCane);
        }
        db.SaveChanges();
        nuovoCane = null;
    }
}
